@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
.header {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 2vw;
}

.footer-text{
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 2vw;
  
}

.container-flex {
  display: flex;
  flex-direction: column;
  font-family: 'Kanit', sans-serif;
}

.potential {
  padding: 0.5%;
}
.slot-box {
  border-radius: 10px;
  border: 1px solid rgba(11, 198, 255, 0.76);
  background-color: rgba(26, 196, 248, 0.068);
  padding: 2%; 
}
.Button {
  padding : 5px;
}
.reset-btn {
  text-align: center;
  padding: 5%;
}
.slot-box {
  border-radius: 10px;
  border: 1px solid rgba(11, 198, 255, 0.76);
  background-color: rgba(26, 196, 248, 0.068);
  padding-top: 2%; 
}
.head-box {
  border-radius: 10px;
  border: 1px solid rgba(11, 198, 255, 0.76);
  background-color: rgba(26, 196, 248, 0.068);
  padding-top: 2%;
  
  
}